<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'vtc', :plugin => 'version_time_control' %>
<% end %>
<h2><%=h l(:label_progress_contracts) %></h2>
<% if @mainList %>
<table class="progress_contracts">
  <tr class="progress_contracts_row">
    <th><%=h l(:label_project) %> - <%=h l(:label_version) %> </th>
    <th><%=h l(:label_spent_time) %> </th>
    <th><%=h l(:label_expected_time) %> </th>
    <th><%=h l(:label_progression) %> </th>
  </tr>
  <% @mainList.each do |version| %>
      <tr class="version_global">
        <td class="version"><%= version[:projectname] %> - <a target="_blank" href="<%= @dir %>versions/<%= version[:version] %>"><%= version[:name] %></a></td>
        <td class="version"><%= version[:spent_time]%> <%=h l(:label_hours) %></td>
        <td class="version"><%= version[:estimaed_time]%> <%=h l(:label_hours) %></td>
        <td class="version">
          <table class="version_progress progress progress-0" style="width: 40em;">
            <tbody>
            <tr>
              <% if version[:percent] >= 100 %>
                  <td class="max" style="width:100%"></td>
              <% else %>
                  <td class="done" style="width:<%= version[:percentrnd]%>%"></td>
              <% end %>

              <% if version[:percenttofinish] <= 0 %>
                  <td class="todo" style="width:0%"></td>
              <% else %>
                  <td class="todo" style="width:<%= version[:percenttofinish]%>%"></td>
              <% end %>
            </tr>
            </tbody>
          </table>
          <% if version[:percent] > 100 %>
              ! + de 100%
          <% else %>
              <%= version[:percentrnd]%>%
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <fieldset class="collapsible collapsed test">
            <legend onclick="toggleFieldset(this);"><%=h l(:label_issues_list) %></legend>
            <div style="display: none;">
                <table class="list issues">
                  <thead>
                     <tr>
                       <th><%=h l(:label_project_plural) %></th>
                       <th><%=h l(:field_subject) %></th>
                       <th><%=h l(:field_start_date) %></th>
                       <th><%=h l(:label_spent_time) %></th>
                       <th><%=h l(:field_assigned_to) %></th>
                     </tr>
                  </thead>
                  <tbody>
                    <% @issueList.each do |issue| %>
                        <% if version[:version] == issue[:fixed_version_id] %>
                          <tr class="<%= cycle 'odd', 'even' %>">
                            <td><%= version[:projectname]%></td>
                            <td><a target="_blank" href="<%= @dir %>issues/<%= issue[:label_issue_id] %>"><%= issue[:field_subject]%></a></td>
                            <td><%= issue[:field_start_date]%></td>
                            <td><%= issue[:label_spent_time]%></td>
                            <td><%= issue[:field_assigned_to]%></td>
                          </tr>
                        <% end %>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </fieldset>
        </td>
      </tr>
  <% end %>
</table>
<br>
<% end %>

<% if @message %>
    <p><%=h l(:label_configuration) %> <a href="<%= @dir %>/settings/plugin/version_time_control"><%=h l(:label_configuration_link) %></a></p>
<% end %>
