<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'vtc', :plugin => 'version_time_control' %>
<% end %>
<h2>Avancement des contrats de maintenance</h2>
<table>
  <tr>
    <th>Version </th>
    <th>Temps passé </th>
    <th>Temps estimé </th>
    <th>Avancement </th>
  </tr>
  <% @versions.each do |version| %>
      <tr>
        <td class="version_name"><%= version[:projectname]%> - <%= version[:name]%></td>
        <td class="version_time"><%= version[:spent_time]%> hours</td>
        <td class="version_estimated"><%= version[:estimaed_time]%> hours</td>
        <td>
          <table class="version_progress progress progress-0" style="width: 40em;">
            <tbody>
            <tr>
              <% if version[:percent] >= 100 %>
                  <td class="max" style="width:100%"></td>
              <% else %>
                  <td class="done" style="width:<%= version[:percent]%>%"></td>
              <% end %>

              <% if version[:percenttofinish] <= 0 %>
                  <td class="todo" style="width:0%"></td>
              <% else %>
                   <td class="todo" style="width:<%= version[:percenttofinish]%>%"></td>
              <% end %>
            </tr>
            </tbody>
          </table>
            <% if version[:percent] > 100 %>
                ! + de 100%
            <% else %>
                <%= version[:percent]%>%
            <% end %>
        </td>
      </tr>
      <hr>
  <% end %>
</table>